@use "../../scss/global_variables" as *;

#login,
#register {
    position: relative;
    border: 1px solid #363636;
    background-color: $surface-color;
    padding: 1.5em 2em;
    max-width: 33%;
    margin: 2em auto;

    .hitn_icon {
        position: absolute;
        padding: 5px;
        top: 15px;
        right: 15px;
    }

    h2 {
        text-align: center;
        font-size: 2.1em;
        margin-top: 0;
    }

    p {
        text-align: center;

        a {
            font-weight: bold;
            color: $primary-color;
        }
    }

    .subtitle {
        font-weight: bold;
        color: #999;
        margin-bottom: 1.5em;
    }

    form {
        padding-bottom: 1.5em;
        margin-bottom: 1.5em;
        border-bottom: 1px solid #363636;
    }

    @media (max-width: 500px) {
        margin: 2em 0;
        max-width: 100%;
    }
}
