$primary-color: #0094f6;
$secondary-color: #363636;
$background-color: #121212;
$surface-color: #000;
$text-color: #fafafa;
$text-secondary-color: #aaa;
$disabled-color: #ccc;
$error-color: #721c24;
$success-color: #155724;
