$primary-color: #0094f6;
$secondary-color: #363636;
$background-color: #121212;
$surface-color: #000;
$text-color: #fafafa;
$text-secondary-color: #aaa;
$hover-color: rgba(255, 255, 255, 0.1);
$disabled-color: #ccc;
$error-color: #ff4444;
$success-color: #00c851;
